<div class="topnav">
    <a href="about">About us</a>
    <a  href="contact">Contact</a> 
</div>
  

<form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>Edit Account</h1>
          <p>Fill out the field below, if need be.</p>
          <hr>
    
          <input type="text" placeholder="First name" name="Firstname" required>
          <input type="text" placeholder="Last name" name="Lastname" required>
          <input type="text" placeholder="Email" name="Email" required>
          <input type="text" placeholder="Phone" name="Phone" required>
          
           <div class="buttons">
            <button class=backbtn routerLink="/main">Back</button>
            <button class="applybtn">Apply</button>
            <button class="addbtn" routerLink="/add-adr-crd">Register new Address/Card</button>
          </div>
        
        </div>
</form>