<div class="topnav">
    <a href="login">Login</a>
    <a  href="contact">Contact</a>
   
  </div>
<body>
   
 
   
    <div id="container">
      
      <div id="topmenu">
    
   
    
    
    
    
    
    
    </div>
    
    
    <div id="content">
      
    <strong>Thank you for visiting this webpage!</strong><br><br><br>
    
    This website was designed with you in mind for your convenience and easy for anyone to use.<br><br>
    Here you can get a free rate quote with GOOGLE MAPS, reserve a taxi ahead of time and receive a confirmation by email, phone call or text message.<br><br>
    
    Please look around our webpage and let us know what you think; we will be glad to hear any of your suggestions, comments or concerns.<br><br>
    
    Here is a little information about us:
    Brasov Taxi is operated by independent contractors who strive to provide exceptional customer service. We were the first cab company to accept reservations and we still continue to this day.<br><br>
    
    <ul>
    <li>Brasov Taxi has a dispatcher available to speak with 24/7; all holidays included</li>
    <li>No old retired police cars, we like to drive a comfortable cab</li>
    <li>All of our cabs are non-smoking vehicles</li>
    <li>We have roomy sedans, minivans, wheelchair vans, and hybrid cars</li>
    <li>Most of our cabs have GPS systems installed, and the rest are currently installing them</li>
    </ul><br>
    
    We started up a new trend throughout all of the taxi drivers and cab companies by implementing the latest technology with our credit card processing system. We found a new way to have both our drivers and passengers feel secure with their payments through SQUARE, here is a <a href="http://www.squareup.com/" target="_blank">link</a> leading to more information about this system. To operate SQUARE, you need to own a smartphone so we strongly encourage and educate our drivers about the latest technology. Therefore, we have the coolest taxi drivers ever!<br><br><br>
    
    <strong>A little bit about our history:</strong><br><br>
    Brasov Taxi Cab Company was founded in 1978 by local cab drivers. It is one the oldest cab companies in Brasov. Even though we are not one of the largest cab companies, we have stayed prosperous in business by offering our clients a variety of options that other cab companies don't, such as: reservations as far off ahead of time as you like, confirmation of trips, email receipts through SQUARE, unbeatable discounts and flat rates. We have always been and still are happy to establish company contract agreements in order to transport company employees and medical transports all over the city.<br><br><br>
    
    <strong>And these are some of our goals for the future:</strong><br><br>
    We want to jump in on the environmentally friendly vehicles plan and hopefully soon we will add even more hybrid cars to our fleet and also add electric cars that run on pure electricity. We are feverishly and optimistically working on this project and many others. We want to run our business with more efficiency and more modern technology. We will do our best to keep you posted about our progress.<br><br><br>
    
    <a href="reserve2.php"><img alt="" src="img/m.reservebtn.jpg" height="32" width="295" border="0"></a>
    </div>
      
    </div>
    
    <div id="footer">
    © Copyrighted by Brasov Taxi Cab Co. 
    All rights reserved.<br>
    Call <a href="tel:0726-321-564">+40 0726-321-564</a> to reserve a taxi.<br>
    </div>
    
    
    
    
    <iframe name="oauth2relay757384120" id="oauth2relay757384120" src="https://accounts.google.com/o/oauth2/postmessageRelay?parent=http%3A%2F%2Fwww.Brasovtaxi.net&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.ro.0lEkGoD6fq8.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCN-foEtsLdvz0ZhESp88uYe1BtnNg#rpctoken=232149748&amp;forcesecure=1" tabindex="-1" aria-hidden="true" style="width: 1px; height: 1px; position: absolute; top: -100px;"></iframe></body>