<form action="action_page.php">
    
  
    <div class="container">
      <label><b>Username</b></label>
      <input  class="form-control" type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="username">
  
      <label><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">
  
      <button type="submit" (click)="checkLogin(username, password)">Login</button> 

      <button routerLink="/register">Register</button>


    </div>
  
  

      
    
  </form>