<html>
<div class="topnav">
    <a href="about">About us</a>
    <a href="contact">Contact</a>
   
  </div>

<div class="vertical-menu">
    <p color:black >Hello</p>
    <a href="order">Place new order</a>
    <a href="add-adr-crd">Register address or credit card infos</a>
    <a href="edit">Edit account data</a>
    <a href="orderView">View my orders</a>
  </div>
  
  <div id="wallpaper">
      <img src="http://www.winwallpapers.net/w1/2011/11/america-taxi.jpg" height="530px">
  </div>

  <button routerLink="/login">
    Logout
 </button>
 </html>
    