   <div class="topnav">
        <a href="about">About us</a>
        <a  href="contact">Contact</a>
       
      </div>

     
      
  <div class="tabele">
    <h3 class="text">Saved Addresses</h3>
    <p-dataTable  class="tab" [value]="Adresses" [(selection)]="selectedAdress" dataKey="id" [responsive]="true" [editable]="true">
        <p-column selectionMode="single"></p-column>
        <p-column field="id" header = "id" [sortable]="true"></p-column>
        <p-column field="adress_name" header="Adress Name" [sortable]="true"></p-column>
        <p-column field="oras" header="City" [sortable]="true"></p-column>
        <p-column field="cartier" header="Area" [sortable]="true"></p-column>
        <p-column field="street_name" header="Street" [sortable]="true"></p-column>
        <ng-template pTemplate="emptymessage">
            This table is empty.
        </ng-template>
      </p-dataTable>
      
      <div class=time>
      <h3>In how many minutes should the car arrive?</h3>
      <input class=text id="input" type="text" size="30" pInputText [(ngModel)]="duetime"><br> 
    </div>

    
      
    <button class="addbtn" routerLink="/add-adr-crd">Register new Address</button>
    <button class="placebtn"(click)="registerOrder(duetime)">Check out</button>
    <button class=backbtn routerLink="/main">Back</button>

   

   

