<div class="topnav">
    <a href="about">About us</a>
    <a  href="contact">Contact</a>
   
  </div>
  
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Register Account</h1>
      <p>Please fill out the fields below.</p>
      <hr>

      <input type="text" placeholder="Username" name="Username" required pInputText [(ngModel)]="username">

      <input type="password" placeholder="Password" name="psw" required pInputText [(ngModel)]="password">

      <input type="password" placeholder="Password confirmation" name="psw-repeat" required>

      <input type="text" placeholder=" First name" name="FName" required pInputText [(ngModel)]="firstName">

      <input type="text" placeholder="Last name" name="LName" required pInputText [(ngModel)]="lastName">

      <input type="text" placeholder=" Phone number" name="Phone" required pInputText [(ngModel)]="phoneNumber">

      <input type="text" placeholder="Email" name="Email" required pInputText [(ngModel)]="eMail">
  
      
  
      <div class="clearfix">
        <button routerLink="/login" type="button" class="cancelbtn">Back</button>
        <button type="submit" class="signupbtn" (click)="registerAccount(username,password,lastName,firstName,phoneNumber,eMail)">Register</button>
      </div>
    </div>
  </form>